@tailwind base;
@tailwind components;
@tailwind utilities;

button.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.reset.active {
  background-color: hsl(172, 67%, 45%);
}
